// FORMS
// ==========================
$input-height:				40px;
$checkbox-size:				21px;
$radio-size:				21px;
$toggle-width:				$input-height*1.5; //44px;
$toggle-height:				$input-height; //21px;

#{$all-text-inputs} {
	@include appearance(none);
	border: 2px solid $grey-light;
	border-radius: 0;
	height: $input-height;
	width: 100%;
	padding: 4px 14px;
	font-size: 1em;
	margin-bottom: 12px;

    &.warning {
        border-color: $warning;
    }

    &.error {
        border-color: $error;
    }

    &.search {
    	margin: 0;
    	font-weight: 200;
    	border: 1px solid transparent;
    	border-bottom: 1px solid $grey-light;
    	padding: 0px 4px;
    	height: auto;
    }
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
	border: 2px solid $grey;
	outline: 0;

    &.warning {
        border-color: $warning;
    }

    &.error {
        border-color: $error;
    }

    &.search {
    	border: 1px solid transparent;
    	border-bottom: 1px solid $grey;

    }
}

#{$all-text-inputs-active} {
	// opacity: 0.9;
	border: 2px solid darken($primary-colour, 15%);
	outline: 0;
}

textarea {
    height: auto;
}

label {
	display: inline-block;
	width: 100%;
	margin-bottom: 0.6em;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}

.form-group {
	margin-bottom: 1.2em;
}

.ta-root {
	outline: 0;
    .ta-toolbar {
		margin: $padding 0;
	}
	&.focussed {
		outline: 0;
		.ta-scroll-window.form-control {
			border: 2px solid $grey-dark;
			outline: 0;
			border-color: $grey-dark;
			box-shadow: none;
		}
	}
}

.form-control {
	@include appearance(none);
	border: 2px solid $grey-light;
	border-radius: 0;
	height: $input-height;
	width: 100%;
	padding: 14px;
	font-size: 1em;
	margin-bottom: 12px;
	outline: 0;

	&:hover, &:focus {
		border: 2px solid $grey-dark;
		outline: 0;
	}
}

// ==============================================
// CHECKBOX
// ==============================================
.checkbox {

	input[type="checkbox"] {

		@include appearance(none);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: 0;
		left: 0;
		width: $checkbox-size;
		height: $checkbox-size;
		background-color: $white;
		border: 2px solid $grey-dark;
		cursor: pointer;

		&:after {
			content: "";
			position: relative;
			display: inline-block;
			top: 0;
			left: 2px;
			width: 13px;
			height: 8px;
			border: 3px solid $white;
			border-top: 0;
			border-right: 0;
			@include transform(rotate(-50deg));
			opacity: 0;
		}

		&:hover:enabled {
			background-color: $primary-colour;
			border-color: transparent;
			&:after {
				opacity: 0.3;
			}
		}

		&:checked {
			background-color: $primary-colour;
			border: 2px solid transparent;
			&:after {
				opacity: 1;
			}
		}

		&:disabled {
			border: 2px solid $grey-lighter;
			cursor: not-allowed;

			+ label {
				color: $grey-lighter;
				cursor: not-allowed;
			}
		}

		& + label {
			vertical-align: middle;
			display: inline;
			cursor: pointer;
		}
	}

    p {
        margin-top: 0;
    }
}

.checkbox.inline {
	@extend .checkbox;
	display: inline-block;
	margin-left: 8px;
	&:first-child {
		margin-left: 0;
	}
}


// ==============================================
// TOGGLE
// ==============================================
.toggle {
	margin-bottom: 12px;
	input[type="checkbox"] {

		@include appearance(none);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: 0;
		left: 0;
		width: $toggle-width;
		height: $toggle-height;
		background-color: $white;
		border: 2px solid $grey-dark;
		@include border-right-radius($toggle-height/2);
		@include border-left-radius($toggle-height/2);
		cursor: pointer;

        &:active {
            outline: none;
        }
        

		&:after {
			content: "";
			position: relative;
			display: inline-block;
			top: 3px;
			left: 4px;
			width: $toggle-height - 10;
			height: $toggle-height - 10;
			border-radius: ($toggle-height - 10)/2;
			background: $grey-dark;
			opacity: 1;
			@include transition(all 0.5s $ease-out-expo);
		}

		&:hover:enabled {
			background-color: $primary-colour;
			border-color: transparent;
			opacity: 0.7;

		}

		&:checked {
			background-color: $primary-colour;
			border: 2px solid transparent;
			&:after {
				left: $toggle-width - ($toggle-height - 10) - 6;
				background: $white;
			}
		}

		&:disabled {
			border: 2px solid $grey-lighter;
			cursor: not-allowed;

			&:after {
				left: 4px;
				background: $grey-lighter;
			}

			+ label {
				color: $grey-lighter;
				cursor: not-allowed;
			}
		}

		& + label {
			vertical-align: middle;
			display: inline;
			cursor: pointer;
		}
	}
}


// ==============================================
// RADIO
// ==============================================
.radio {

	input[type="radio"] {

		@include appearance(none);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: 0;
		left: 0;
		width: $radio-size;
		height: $radio-size;
		background-color: $white;
		border: 2px solid $grey-dark;
		border-radius: $radio-size/2;
		cursor: pointer;

		&:after {
			$radio-select: $radio-size/1.6;
			content: "";
			position: relative;
			display: inline-block;
			top: $radio-size/2 - $radio-select/2 - 2px;
			left: $radio-size/2 - $radio-select/2 - 2px;
			width: $radio-select;
			height: $radio-select;
			background: $primary-colour;
			border-radius: $radio-select/2;
			opacity: 0;
		}

		&:hover:enabled {
			border-color: $primary-colour;
			&:after {
				opacity: 0.3;
			}
		}

		&:checked {
			border: 2px solid $primary-colour;
			&:after {
				opacity: 1;
			}
		}

		&:disabled {
			border: 2px solid $grey-lighter;
			cursor: not-allowed;
			+ label {
				color: $grey-lighter;
				cursor: not-allowed;
			}
		}

		& + label {
			vertical-align: middle;
			display: inline;
			cursor: pointer;
		}
	}

    p {
        margin-top: 0;
    }
}

.radio.inline {
	@extend .radio;
	display: inline-block;
	&:first-child {
		margin-left: 0;
	}
	margin-left: 8px;
}


// ==============================================
// DROPDOWN
// ==============================================
.dropdown {

	position: relative;
	margin-bottom: 12px;

	div[type="select"],
	.dropdown-display {
		background-color:$white;
		color: $grey-dark;
		border: 2px solid $grey-light;
		border-radius: 0;
		height: $input-height;
		width: 100%;
		padding: 6px;
		font-size: 1em;
		position: relative;
		top: 0;
		left: 0;
		cursor: pointer;
		@include user-select(none);

        &.warning {
            border-color: $warning;
        }

        &.error {
            border-color: $error;
        }

		&:focus, &:hover, &:active {
			border: 2px solid $grey-dark;
			outline: 0;
		}
	}

	&:after {
		content: "";
		position: absolute;
		display: inline-block;
		top: 12px;
		right: 12px;
		width: 12px;
		height: 12px;
		border: 2px solid $grey-light;
		border-top: 0;
		border-right: 0;
		@include transform(rotate(-45deg));
	}

	ul {
		color: $grey-dark;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		//bottom: 0px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		z-index: 5000;
        height: 300px;
        overflow-y: scroll;
        background-color: red;

		li {
			text-indent: 0;
			@include user-select(none);
			display: block;
			height: $input-height;
			padding: 6px;
			background: $white;
			cursor: pointer;

			&.selected {
				background: $primary-colour;
			}

			&:hover {
				background: $primary-colour;
			}
		}
	}
}