// HELPERS

.pointer {
	&:hover {
		cursor: pointer;
	}
}

.clearfix {
	@include clearfix;
}

.float-right {
	display: block;
	width: 100%;

	select {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		left: 0;
	}
}

@include media($screen-s) {
	.float-right {
		float: right;
	}
}

.inline-block {
	display: inline-block;
}

.vertical-align {
    vertical-align:middle;
}

margin-top {
    margin-top: $padding;
}

margin-bottom {
    margin-bottom: $padding;
}

.strapline {
	margin: 0;
	padding: 0;
	font-style: italic;
	color: $muted;
	font-size: 0.9em;
}

#searchArea {
	margin: $padding * 4 0;
}

#languageArea {
	margin: $padding * 4 0 0 0;
	padding: $padding * 4 0;
	border-top: 3px solid darken($blue, 10%);
	border-bottom: 3px solid darken($blue, 10%);
}

#projects {
	margin: $padding 0 0 0;
	padding: 0 0;
}

ul.otherprojects {
	list-style: none;
	display: block;

	@include row();

	li.otherprojects-item {
		display: block;
		margin: 0;
		padding: 0;
		height: 5em;

		a span {
			display: inline-block;
			width: 100%;
			padding: 20px 20px;
			text-align: center;
		}

		a > img {
			position: relative;
			left: 0;
			top: 50%;
			max-height: 35px;
			width: auto;
			margin-left: 12px;
			margin-top: -18px;
			vertical-align: middle;
		}
	}
}

@include media($screen-s) {
	ul.otherprojects {
		list-style: none;
		display: block;

		@include row();

		li.otherprojects-item {
			display: block;
			margin: 0;
			padding: 0;
			height: 5em;
			@include span-columns(3);
			@include omega;

			a span {
				display: inline-block;
				width: 100%;
				padding: 20px 20px;
				text-align: center;
			}

			a > img {
				position: relative;
				left: 0;
				top: 50%;
				max-height: 35px;
				width: auto;
				margin-left: 12px;
				margin-top: -18px;
				vertical-align: middle;
			}
		}
	}
}