// IMAGE CLASSES

$wordMark-width: 174px;
$wordMark-height: 30px;
$wordMark-top: 50px;

$wikipediaLogo-width: 200px;
$wikipediaLogo-height: 183px;
$wikipediaLogo-top: 20px;

#wikipediaWordMark {
	height: $wordMark-height + $wordMark-top;

	img {
		width: $wordMark-width;
		height: $wordMark-height;
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: -$wordMark-height / 2;
		margin-left: -$wordMark-width / 2;
		z-index: 1000;
	}
}

#wikipediaLogo {
	height: $wikipediaLogo-height + $wikipediaLogo-top;
	img {
		width: $wikipediaLogo-width;
		height: $wikipediaLogo-height;
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: -$wikipediaLogo-height / 2;
		margin-left: -$wikipediaLogo-width / 2;
		margin-bottom: 200px;
		z-index: 2000;
	}
}