// NAVIGATION STYLES

.menuButton {
	background: $menuButtonColour;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: inline-block;
	width: $navWidthCollapsed;
	height: $navWidthCollapsed;
	margin: 0;
	padding: $navWidthCollapsed / 4;
	cursor: pointer;
	// opacity: 0.5;
	// transition: all 0.2s ease-in-out;
	@include transition(all 0.2s ease-in-out);

	&:hover {
		background-color: lighten($menuButtonColour, 10%);
	}

	span.hamburger {
		display: block;
		background-color: #333;
		height: 2px;
		width: 22px;
		margin: 5px 0;
		// transition: all 0.3s ease-in-out;
		@include transition(all 0.3s ease-in-out);

		&.hamburger-top {
			&.expanded {
				// -ms-transform: rotate(-45deg) translateX(-5px) translateY(5px);
				// -webkit-transform: rotate(-45deg) translateX(-5px) translateY(5px);
				// transform: rotate(-45deg) translateX(-5px) translateY(5px);
				@include transform(rotate(-45deg) translateX(-5px) translateY(5px));
			}
		}

		&.hamburger-middle {
			&.expanded {
				opacity: 0;
				// -ms-transform: translateY(5px);
				// -webkit-transform: translateY(5px);
				// transform: translateY(5px);
				@include transform(translateY(5px));
			}
		}

		&.hamburger-bottom {
			&.expanded {
				// -ms-transform: rotate(45deg) translateX(-5px) translateY(-5px);
				// -webkit-transform: rotate(45deg) translateX(-5px) translateY(-5px);
				// transform: rotate(45deg) translateX(-5px) translateY(-5px);
				@include transform(rotate(45deg) translateX(-5px) translateY(-5px));
			}
		}
	}
}

.vertical-nav {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: $navWidthCollapsed;
	z-index: 9999;
	width: $navWidthCollapsed;
	height: 100vh;
	background: $navBackgroundColour;
	color: $white;
	overflow: hidden;

	@include transition(width 0.5s $ease-out-expo);

	&.expanded {
		width: $navWidthExpanded;
	}

	ul {
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		text-indent: 0;
		white-space: nowrap;
		font-weight: 200;

		&.bottom {
			position: absolute;
			bottom: 0;
		}


		li {
			background: $navBackgroundColour;
			padding: $navWidthCollapsed / 4;
			cursor: pointer;
			opacity: 0.5;
			// transition: all 0.2s ease-in-out;
			@include transition(all 0.5s $ease-out-expo);

			&:hover {
				opacity: 1;
				background: lighten($navBackgroundColour, 10%);
			}

			&.selected {
				background: $menuButtonColour;
				color: #FFF;
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}
			}

			span.glyphicon,
			span.symbol,
			span.lnr {
				font-size: $navWidthCollapsed / 2;
				vertical-align: middle;
			}

			span.menu-item {
				font-size: 1.2em;
				margin-left: 0;
				vertical-align: middle;
				opacity: 0;
				// transition: all 0.3s ease-in-out 0.3s;
				@include transition( margin-left 0.4s $ease-out-expo 0s);

				&.expanded {
					opacity: 0.8;
					margin-left: 0.6em;

				}
			}
		}
	}
}


