// STATUS STYLES

.status {
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background: grey;

	&.green {
		background: green;
	}

	&.amber {
		background: darkorange;
	}

	&.red {
		background: red;
	}
}