// TABLES

th {
    text-align: left;
}

caption {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
    color: $muted;
    text-align: left;
}

table {
    background-color: $table-bg;
    width: 100%;
    max-width: 100%;
    margin-bottom: $line-height-computed;
    border-collapse: collapse;
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $line-height-base;
                vertical-align: top;
                border-top: 1px solid $table-border-colour;
            }
        }
    }
    // Table Headings
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-colour;
    }
    // Remove top border from thead by default
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid $table-border-colour;
    }
    // Nesting tables
    > table {
        background-color: $body-bg;
    }

    // Alternate row stripes
    &.striped {
        > tbody > tr:nth-of-type(odd) {
            background-color: $table-bg-accent;
        }
    }

    // Table row hover
    &.hover {
        > tbody > tr:hover {
            background-color: $table-bg-hover;
        }
    }
}


// Table cell sizing
// Reset default table behavior

table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}

table {
    td,
    th {
        &[class*="col-"] {
            position: static;
            float: none;
            display: table-cell;
        }
    }
}



// Responsive tables

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;

    @media screen and (max-width: $screen-xs) {
        width: 100%;
        margin-bottom: ($line-height-computed * 0.75);
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid $table-border-colour;
        // Tighten up spacing
        > .table {
            margin-bottom: 0;
            // Ensure the content doesn't wrap
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
